In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("http://cs.joensuu.fi/sipu/datasets/jain.txt",delimiter = "\t",header=None)

In [3]:
df

         0      1  2
0     0.85  17.45  2
1     0.75  15.60  2
2     3.30  15.45  2
3     5.25  14.20  2
4     4.90  15.65  2
..     ...    ... ..
368  38.75  16.85  1
369  39.00  16.60  1
370  38.25  17.35  1
371  39.50  16.95  1
372  39.90  17.05  1

[373 rows x 3 columns]

In [4]:
df.value_counts()

0      1      2
41.30  15.30  1    1
19.10  9.55   1    1
18.60  22.25  2    1
18.65  6.90   1    1
18.70  7.65   1    1
                  ..
29.40  4.85   1    1
29.45  4.05   1    1
29.50  4.70   1    1
29.75  3.45   1    1
0.75   15.60  2    1
Length: 373, dtype: int64

In [5]:
df.isnull().sum()

0    0
1    0
2    0
dtype: int64

In [6]:
df1=df.iloc[:,0:2]

In [7]:
df1

         0      1
0     0.85  17.45
1     0.75  15.60
2     3.30  15.45
3     5.25  14.20
4     4.90  15.65
..     ...    ...
368  38.75  16.85
369  39.00  16.60
370  38.25  17.35
371  39.50  16.95
372  39.90  17.05

[373 rows x 2 columns]

In [8]:
A=np.array(df1)

In [9]:
A

array([[ 0.85, 17.45],
       [ 0.75, 15.6 ],
       [ 3.3 , 15.45],
       [ 5.25, 14.2 ],
       [ 4.9 , 15.65],
       [ 5.35, 15.85],
       [ 5.1 , 17.9 ],
       [ 4.6 , 18.25],
       [ 4.05, 18.75],
       [ 3.4 , 19.7 ],
       [ 2.9 , 21.15],
       [ 3.1 , 21.85],
       [ 3.9 , 21.85],
       [ 4.4 , 20.05],
       [ 7.2 , 14.5 ],
       [ 7.65, 16.5 ],
       [ 7.1 , 18.65],
       [ 7.05, 19.9 ],
       [ 5.85, 20.55],
       [ 5.5 , 21.8 ],
       [ 6.55, 21.8 ],
       [ 6.05, 22.3 ],
       [ 5.2 , 23.4 ],
       [ 4.55, 23.9 ],
       [ 5.1 , 24.4 ],
       [ 8.1 , 26.35],
       [10.15, 27.7 ],
       [ 9.75, 25.5 ],
       [ 9.2 , 21.1 ],
       [11.2 , 22.8 ],
       [12.6 , 23.1 ],
       [13.25, 23.5 ],
       [11.65, 26.85],
       [12.45, 27.55],
       [13.3 , 27.85],
       [13.7 , 27.75],
       [14.15, 26.9 ],
       [14.05, 26.55],
       [15.15, 24.2 ],
       [15.2 , 24.75],
       [12.2 , 20.9 ],
       [12.15, 21.45],
       [12.75, 22.05],
       [13.15, 21.85],
       [13.75, 22.  ],
       [13.95, 22.7 ],
       [14.4 , 22.65],
       [14.2 , 22.15],
       [14.1 , 21.75],
       [14.05, 21.4 ],
       [17.2 , 24.8 ],
       [17.7 , 24.85],
       [17.55, 25.2 ],
       [17.  , 26.85],
       [16.55, 27.1 ],
       [19.15, 25.35],
       [18.8 , 24.7 ],
       [21.4 , 25.85],
       [15.8 , 21.35],
       [16.6 , 21.15],
       [17.45, 20.75],
       [18.  , 20.95],
       [18.25, 20.2 ],
       [18.  , 22.3 ],
       [18.6 , 22.25],
       [19.2 , 21.95],
       [19.45, 22.1 ],
       [20.1 , 21.6 ],
       [20.1 , 20.9 ],
       [19.9 , 20.35],
       [19.45, 19.05],
       [19.25, 18.7 ],
       [21.3 , 22.3 ],
       [22.9 , 23.65],
       [23.15, 24.1 ],
       [24.25, 22.85],
       [22.05, 20.25],
       [20.95, 18.25],
       [21.65, 17.25],
       [21.55, 16.7 ],
       [21.6 , 16.3 ],
       [21.5 , 15.5 ],
       [22.4 , 16.5 ],
       [22.25, 18.1 ],
       [23.15, 19.05],
       [23.5 , 19.8 ],
       [23.75, 20.2 ],
       [25.15, 19.8 ],
       [25.5 , 19.45],
       [23.  , 18.  ],
       [23.95, 17.75],
       [25.9 , 17.55],
       [27.65, 15.65],
       [23.1 , 14.6 ],
       [23.5 , 15.2 ],
       [24.05, 14.9 ],
       [24.5 , 14.7 ],
       [14.15, 17.35],
       [14.3 , 16.8 ],
       [14.3 , 15.75],
       [14.75, 15.1 ],
       [15.35, 15.5 ],
       [15.95, 16.45],
       [16.5 , 17.05],
       [17.35, 17.05],
       [17.15, 16.3 ],
       [16.65, 16.1 ],
       [16.5 , 15.15],
       [16.25, 14.95],
       [16.  , 14.25],
       [15.9 , 13.2 ],
       [15.15, 12.05],
       [15.2 , 11.7 ],
       [17.  , 15.65],
       [16.9 , 15.35],
       [17.35, 15.45],
       [17.15, 15.1 ],
       [17.3 , 14.9 ],
       [17.7 , 15.  ],
       [17.  , 14.6 ],
       [16.85, 14.3 ],
       [16.6 , 14.05],
       [17.1 , 14.  ],
       [17.45, 14.15],
       [17.8 , 14.2 ],
       [17.6 , 13.85],
       [17.2 , 13.5 ],
       [17.25, 13.15],
       [17.1 , 12.75],
       [16.95, 12.35],
       [16.5 , 12.2 ],
       [16.25, 12.5 ],
       [16.05, 11.9 ],
       [16.65, 10.9 ],
       [16.7 , 11.4 ],
       [16.95, 11.25],
       [17.3 , 11.2 ],
       [18.05, 11.9 ],
       [18.6 , 12.5 ],
       [18.9 , 12.05],
       [18.7 , 11.25],
       [17.95, 10.9 ],
       [18.4 , 10.05],
       [17.45, 10.4 ],
       [17.6 , 10.15],
       [17.7 ,  9.85],
       [17.3 ,  9.7 ],
       [16.95,  9.7 ],
       [16.75,  9.65],
       [19.8 ,  9.95],
       [19.1 ,  9.55],
       [17.5 ,  8.3 ],
       [17.55,  8.1 ],
       [17.85,  7.55],
       [18.2 ,  8.35],
       [19.3 ,  9.1 ],
       [19.4 ,  8.85],
       [19.05,  8.85],
       [18.9 ,  8.5 ],
       [18.6 ,  7.85],
       [18.7 ,  7.65],
       [19.35,  8.2 ],
       [19.95,  8.3 ],
       [20.  ,  8.9 ],
       [20.3 ,  8.9 ],
       [20.55,  8.8 ],
       [18.35,  6.95],
       [18.65,  6.9 ],
       [19.3 ,  7.  ],
       [19.1 ,  6.85],
       [19.15,  6.65],
       [21.2 ,  8.8 ],
       [21.4 ,  8.8 ],
       [21.1 ,  8.  ],
       [20.4 ,  7.  ],
       [20.5 ,  6.35],
       [20.1 ,  6.05],
       [20.45,  5.15],
       [20.95,  5.55],
       [20.95,  6.2 ],
       [20.9 ,  6.6 ],
       [21.05,  7.  ],
       [21.85,  8.5 ],
       [21.9 ,  8.2 ],
       [22.3 ,  7.7 ],
       [21.85,  6.65],
       [21.3 ,  5.05],
       [22.6 ,  6.7 ],
       [22.5 ,  6.15],
       [23.65,  7.2 ],
       [24.1 ,  7.  ],
       [21.95,  4.8 ],
       [22.15,  5.05],
       [22.45,  5.3 ],
       [22.45,  4.9 ],
       [22.7 ,  5.5 ],
       [23.  ,  5.6 ],
       [23.2 ,  5.3 ],
       [23.45,  5.95],
       [23.75,  5.95],
       [24.45,  6.15],
       [24.6 ,  6.45],
       [25.2 ,  6.55],
       [26.05,  6.4 ],
       [25.3 ,  5.75],
       [24.35,  5.35],
       [23.3 ,  4.9 ],
       [22.95,  4.75],
       [22.4 ,  4.55],
       [22.8 ,  4.1 ],
       [22.9 ,  4.  ],
       [23.25,  3.85],
       [23.45,  3.6 ],
       [23.55,  4.2 ],
       [23.8 ,  3.65],
       [23.8 ,  4.75],
       [24.2 ,  4.  ],
       [24.55,  4.  ],
       [24.7 ,  3.85],
       [24.7 ,  4.3 ],
       [24.9 ,  4.75],
       [26.4 ,  5.7 ],
       [27.15,  5.95],
       [27.3 ,  5.45],
       [27.5 ,  5.45],
       [27.55,  5.1 ],
       [26.85,  4.95],
       [26.6 ,  4.9 ],
       [26.85,  4.4 ],
       [26.2 ,  4.4 ],
       [26.  ,  4.25],
       [25.15,  4.1 ],
       [25.6 ,  3.9 ],
       [25.85,  3.6 ],
       [24.95,  3.35],
       [25.1 ,  3.25],
       [25.45,  3.15],
       [26.85,  2.95],
       [27.15,  3.15],
       [27.2 ,  3.  ],
       [27.95,  3.25],
       [27.95,  3.5 ],
       [28.8 ,  4.05],
       [28.8 ,  4.7 ],
       [28.75,  5.45],
       [28.6 ,  5.75],
       [29.25,  6.3 ],
       [30.  ,  6.55],
       [30.6 ,  3.4 ],
       [30.05,  3.45],
       [29.75,  3.45],
       [29.2 ,  4.  ],
       [29.45,  4.05],
       [29.05,  4.55],
       [29.4 ,  4.85],
       [29.5 ,  4.7 ],
       [29.9 ,  4.45],
       [30.75,  4.45],
       [30.4 ,  4.05],
       [30.8 ,  3.95],
       [31.05,  3.95],
       [30.9 ,  5.2 ],
       [30.65,  5.85],
       [30.7 ,  6.15],
       [31.5 ,  6.25],
       [31.65,  6.55],
       [32.  ,  7.  ],
       [32.5 ,  7.95],
       [33.35,  7.45],
       [32.6 ,  6.95],
       [32.65,  6.6 ],
       [32.55,  6.35],
       [32.35,  6.1 ],
       [32.55,  5.8 ],
       [32.2 ,  5.05],
       [32.35,  4.25],
       [32.9 ,  4.15],
       [32.7 ,  4.6 ],
       [32.75,  4.85],
       [34.1 ,  4.6 ],
       [34.1 ,  5.  ],
       [33.6 ,  5.25],
       [33.35,  5.65],
       [33.75,  5.95],
       [33.4 ,  6.2 ],
       [34.45,  5.8 ],
       [34.65,  5.65],
       [34.65,  6.25],
       [35.25,  6.25],
       [34.35,  6.8 ],
       [34.1 ,  7.15],
       [34.45,  7.3 ],
       [34.7 ,  7.2 ],
       [34.85,  7.  ],
       [34.35,  7.75],
       [34.55,  7.85],
       [35.05,  8.  ],
       [35.5 ,  8.05],
       [35.8 ,  7.1 ],
       [36.6 ,  6.7 ],
       [36.75,  7.25],
       [36.5 ,  7.4 ],
       [35.95,  7.9 ],
       [36.1 ,  8.1 ],
       [36.15,  8.4 ],
       [37.6 ,  7.35],
       [37.9 ,  7.65],
       [29.15,  4.4 ],
       [34.9 ,  9.  ],
       [35.3 ,  9.4 ],
       [35.9 ,  9.35],
       [36.  ,  9.65],
       [35.75, 10.  ],
       [36.7 ,  9.15],
       [36.6 ,  9.8 ],
       [36.9 ,  9.75],
       [37.25, 10.15],
       [36.4 , 10.15],
       [36.3 , 10.7 ],
       [36.75, 10.85],
       [38.15,  9.7 ],
       [38.4 ,  9.45],
       [38.35, 10.5 ],
       [37.7 , 10.8 ],
       [37.45, 11.15],
       [37.35, 11.4 ],
       [37.  , 11.75],
       [36.8 , 12.2 ],
       [37.15, 12.55],
       [37.25, 12.15],
       [37.65, 11.95],
       [37.95, 11.85],
       [38.6 , 11.75],
       [38.5 , 12.2 ],
       [38.  , 12.95],
       [37.3 , 13.  ],
       [37.5 , 13.4 ],
       [37.85, 14.5 ],
       [38.3 , 14.6 ],
       [38.05, 14.45],
       [38.35, 14.35],
       [38.5 , 14.25],
       [39.3 , 14.2 ],
       [39.  , 13.2 ],
       [38.95, 12.9 ],
       [39.2 , 12.35],
       [39.5 , 11.8 ],
       [39.55, 12.3 ],
       [39.75, 12.75],
       [40.2 , 12.8 ],
       [40.4 , 12.05],
       [40.45, 12.5 ],
       [40.55, 13.15],
       [40.45, 14.5 ],
       [40.2 , 14.8 ],
       [40.65, 14.9 ],
       [40.6 , 15.25],
       [41.3 , 15.3 ],
       [40.95, 15.7 ],
       [41.25, 16.8 ],
       [40.95, 17.05],
       [40.7 , 16.45],
       [40.45, 16.3 ],
       [39.9 , 16.2 ],
       [39.65, 16.2 ],
       [39.25, 15.5 ],
       [38.85, 15.5 ],
       [38.3 , 16.5 ],
       [38.75, 16.85],
       [39.  , 16.6 ],
       [38.25, 17.35],
       [39.5 , 16.95],
       [39.9 , 17.05]])

In [ ]:
import random
init_center=random.sample(range(0,len(A)),2)

In [ ]:
init_center

In [ ]:
#find the centroid of the selected center
centroid1=[]
for i in init_center:
    centroid1.append(df1.iloc[i,:])

In [ ]:
centroid1

In [ ]:
centroid1=np.array(centroid1)

In [ ]:
centroid1

In [ ]:
#function to caculate distance
def cal_distance(x1,x2):
    return (np.sum((x1-x2)**2))**0.5

In [ ]:
def nearest_Centroids(v, y):
    n_centroid = []
    for i in y:
        distance=[]
        for j in v:
            distance.append(cal_distance(i, j))
        n_centroid.append(np.argmin(distance))
        
    return n_centroid

In [ ]:
obtain_centroids = nearest_Centroids(centroid1, A)
obtain_centroids

In [ ]:
def mel_centroids(clusters, A):
    n_centroids = []
    n_df = pd.concat([pd.DataFrame(A), pd.DataFrame(clusters, columns=['cluster'])],
                      axis=1)
    for k in set(n_df['cluster']):
        current_cluster = n_df[n_df['cluster'] == k][n_df.columns[:-1]]
        cluster_mean = current_cluster.mean(axis=0)
        n_centroids.append(cluster_mean)
    return n_centroids

In [ ]:
import matplotlib.pyplot as plt
for i in range(10):
    obtain_centroids = nearest_Centroids(centroid1, A)
    centroid1 = mel_centroids(obtain_centroids, A)
    
plt.figure()
plt.scatter(np.array(centroid1)[:, 0], np.array(centroid1)[:, 1], color='red')
plt.scatter(A[:, 0], A[:, 1], alpha=0.1)
plt.show()

In [ ]:
plt.figure()
plt.scatter(np.array(centroid1)[:, 0], np.array(centroid1)[:, 1], color='black')
plt.scatter(A[:, 0], A[:, 1],c=obtain_centroids, cmap='cool' ,alpha=0.7)
plt.show()

In [ ]:
#df['3']=get_centroids

In [ ]:
df

In [ ]:
# df.replace(to_replace =2,
#                  value =0,inplace=True)

e=[]
for i in obtain_centroids:
    if i==1:
        e.append(2)
    else:
        e.append(1)

In [ ]:
df['3']=e

In [ ]:
df

In [ ]:
df[df[2]==df['3']]

In [ ]:
#accurcay
acc=288/373
print("accuracy:",acc*100)